body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    
  }
  
  header {
    background-color: #003366;
    color: white;
    padding: 40px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 2rem;
  }
  
  .about-us {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .about-us h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .about-us p {
    margin-bottom: 1rem;
  }
  
  footer {
    background-color: #003366;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    /* box-shadow: 0 0 10px #222; */
  }
  
  .contact-form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .contact-form p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    display: block;
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    border-color: #2ecc71;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #2ecc71;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #27ae60;
  }

  .about-us-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }